
body {
  background: #F6EAC0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 1fr auto;
}

.kontajnerPalmicka{
  display: grid;
  justify-content: end;
  align-content: center;
}
