.karta{
    background-color:#7B8A6286;
    opacity: 52%;
    height: 200px;
    width: 280px;
    border-radius: 15px;
    align-content: center;
    text-decoration: none;
    .nazov{
        font-size: x-large;
    }
    .cena{
        font-size: xx-large;
    }
}